## .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
.vs/
.vscode/
*.swp
*.*~
project.lock.json
project.fragment.lock.json
artifacts/

## Visual Studio
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates 